// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use '../abstracts/mixins';

.main-header {
  @include mixins.display-flex(row, space-between);
  position: relative;
  &__title {
    &-container {

    }
    &-icon {

    }
  }
  &__nav-container {
    // padding-top: 120px;
    padding: 2em;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    background-color: rgba(white, 0.5);
    width: calc(100vw - 90px);
    transform: translate(100%);
    display: flex;
    justify-content: center;
    margin-right: -40px;
    padding-right: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    position: absolute;
    right: 0;
    top: 100%;
    @media (min-width: 1440px) {
      margin: 0;
      padding: 0;
      position: relative;
      height: initial;
      width: initial;
      transform: none;
    }
  }
  &__contact {
    &-container {

    }
    &-link {
      
    }
  }
  &__hamburger-button-container {
    @media (min-width: 1440px) {
      display: none;
    }
  }
}