.main {
  padding: 74px 0 0;
  &__title-container {

  }
  &__about-container {
    background-color: #EAF2FD;
  }
  &__section-card-container {
    &--skills {

    }
    &--hobbies {
      
    }
  }
  &__academic-container {
    background-color: #EAF2FD;

  }
  &__experience-container {
  }
  &__form-contact-container {
    background-color: #EAF2FD;
    padding: 4rem 0 2rem;
  }
}