@use '../abstracts/mixins';

.form {
  @include mixins.display-flex(column, stretch, stretch);
  gap: 2rem;
  &__input {
    padding: 1.5rem 0.75rem 0.25rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #A2A2A2;
    min-width: 0;
    line-height: 1.25rem;
    width: 100%;
    @media (min-width: 768px) {
      border-width: 2px;
    }
    &::placeholder {
      color: white;
    }
    &:focus,
    &:not(:placeholder-shown) {
      & + .form__label {
        top: 0.5rem;
        font-size: 0.75rem;
      }
    }
    &:focus {
      border-color: #2A7AE4;
    }
    &-group {
      // @include mixins.display-flex;
      position: relative;
      &:focus-within {
        .form__label {
          color: #2A7AE4;
        }
      }
      &--textarea {
        
      }
    }
  }
  &__label {
    position: absolute;
    top: 1rem;
    left: 0.75rem;
    color: #A2A2A2;
    transition: all 0.2s;
  }
  &__submit {
    align-self: flex-start;
  }
  &__textarea {
    line-height: 1.25rem;
    border: none;
    border-bottom: 2px solid #A2A2A2;
    border-radius: 0.25rem;
    min-width: 0;
    outline: none;
    padding: 1.5rem 0.75rem 0.25rem;
    width: 100%;
    resize: none;
    @media (min-width: 768px) {
      border-width: 2px;
    }
    &::placeholder {
      color: white;
    }
    &:focus,
    &:not(:placeholder-shown) {
      & + .form__label {
        top: 0.5rem;
        font-size: 0.75rem;
      }
    }
    &:focus {
      border-color: #2A7AE4;
    }
  }

}